Django>=5.0
channels>=4.0
channels-redis>=4.0
Pillow
django-crispy-forms
crispy-tailwind
redis
asgiref
sqlparse
tzdata
google-generativeai
python-dotenv
daphne
dj-database-url
psycopg2-binary
whitenoise
